@model IEnumerable<LAX_AS_ASP.Models.FilmDB>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Velkommen til LAX A/S</h1>
    <p class="lead">Her kan du se de nyeste filmnomineringer</p>
</div>

<table class="table">
    <tr>
        <th>
            Titel
        </th>
        <th>
            Instruktør
        </th>
        <th>
            Udgivelsesår
        </th>
        <th>
            Om Filmen
        </th>
        <th>
            Nominering
        </th>
        <th>
            Resultat
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmTitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmInstruk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmUdgiv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmOm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmNomi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomiVundet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

